{% liquid
  assign cross_selling_products_title = section.settings.cross_selling_products_title
  assign excluded_product = section.settings.shipping_protection_product
%}

<div
  x-data="crossSellingProducts( { excludedProductId: '{{ excluded_product.id }}' } )"
  class="cross-selling-products tw-flex"
  x-cloak
  x-show="isShowEl"
>
  {% case type %}
    {% when 'SLIDER' %}
      <div
        x-cloak
        x-show="isLoaded"
        class="cross-selling-products__slider tw-overflow-hidden tw-bg-[#F6F6F6] tw-rounded-ra-10 tw-p-3 tw-mb-4"
      >
        <div class="tw-flex tw-items-center tw-justify-between tw-gap-2 tw-mb-3">
          <h6 class="tw-font-bold tw-text-[15px] tw-leading-[19px] tw-text-black">
            {{ cross_selling_products_title }}
          </h6>
          <div class="tw-flex tw-items-center tw-gap-7.5">
            <div x-ref="sliderBtnPrev" class="cross-selling-products__nav-btn cross-selling-products__nav-btn--prev tw-flex-shrink-0 tw-text-sc-blue sw-nav-btn:!tw-opacity-20">
              <svg width="10" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path stroke-width="0.5" d="M0.168786 7.11582L7.02019 0.658317C7.24467 0.446868 7.6081 0.447224 7.8322 0.65941C8.05613 0.87157 8.05555 1.21525 7.83105 1.42686L1.38746 7.50002L7.83128 13.5732C8.05576 13.7848 8.05634 14.1283 7.83244 14.3404C7.7201 14.4468 7.57292 14.5 7.42575 14.5C7.27895 14.5 7.13236 14.4472 7.02022 14.3415L0.168786  7.8842C0.0606694 7.78254 0 7.64418 0 7.50002C0 7.35587 0.060843 7.21767 0.168786 7.11582Z" fill="currentColor" stroke="currentColor" />
              </svg>
            </div>
            <div x-ref="sliderBtnNext" class="cross-selling-products__nav-btn cross-selling-products__nav-btn--next tw-flex-shrink-0 tw-text-sc-blue sw-nav-btn:tw-text-sc-blue/50">
              <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path stroke-width="0.5" d="M8.83121 7.11582L1.97981 0.658317C1.75533 0.446868 1.3919 0.447224 1.1678 0.65941C0.943867 0.87157 0.944445 1.21525 1.16895 1.42686L7.61254 7.50002L1.16872 13.5732C0.944243 13.7848 0.943664 14.1283 1.16756 14.3404C1.2799 14.4468 1.42708 14.5 1.57425 14.5C1.72105 14.5 1.86764 14.4472 1.97978 14.3415L8.83121 7.8842C8.93933 7.78254 9 7.64418 9 7.50002C9 7.35587 8.93916 7.21767 8.83121 7.11582Z" fill="currentColor" stroke="currentColor" />
              </svg>
            </div>
          </div>
        </div>

        <div x-ref="slider" class="swiper tw-opacity-0">
          <div class="swiper-wrapper">
            <template x-for="item in productList">
              <div class="swiper-slide">
                <article class="tw-flex tw-items-center tw-gap-2.5 tw-overflow-hidden md:tw-gap-[11px]">
                  {% comment %} Image {% endcomment %}
                  <a
                    :href="item?.url"
                    aria-busy="false"
                    class="tw-relative tw-flex-shrink-0 tw-flex tw-justify-center tw-items-center tw-overflow-hidden tw-rounded-ra-10 tw-aspect-square tw-size-[90px] tw-bg-sc-blue/20 tw-border tw-border-sc-blue-20 md:tw-size-[121px]"
                  >
                    <img
                      :src="item?.featured_image"
                      :alt="`Image of ${item?.title}`"
                      height="90px"
                      width="90px"
                      class="tw-w-full tw-h-auto tw-object-cover"
                    >
                  </a>

                  {% comment %} Product Content {% endcomment %}
                  <div class="tw-flex tw-flex-col tw-justify-center tw-w-full">
                    <div class="tw-flex tw-flex-col tw-gap-1 tw-max-w-full lg:tw-gap-2.5">
                      {% comment %} Title {% endcomment %}
                      <a
                        :href="item?.url"
                        :title="item?.title"
                        x-text="item?.title"
                        class="!tw-line-clamp-2 tw-font-primary tw-block tw-text-sm tw-font-bold tw-text-black md:tw-text-base md:tw-leading-5"
                      ></a>

                      {% comment %} Prices {% endcomment %}
                      <div class="tw-flex tw-items-baseline tw-gap-0.5 tw-shrink-0">
                        <template x-if="item?.price">
                          <strong
                            class="tw-text-sm tw-leading-4 tw-font-medium tw-text-black md:tw-text-[15px] md:tw-leading-[17px]"
                            x-text="window.formatMoney(item?.price)"
                          ></strong>
                        </template>
                        <template x-if="item?.compare_at_price > item?.price">
                          <s
                            class="tw-text-sc-gray-primary tw-font-medium tw-text-[13px] tw-leading-4 tw-line-through"
                            x-text="window.formatMoney(item?.compare_at_price)"
                          ></s>
                        </template>
                      </div>
                    </div>
                  </div>

                  {% comment %} Add to cart {% endcomment %}
                  <button
                    @click="$store.cart.addToCart([{ id: item.variants.find(v => v.available)?.id, quantity: 1 }])"
                    type="button"
                    aria-label="Remove product from cart"
                    class="tw-flex tw-justify-center tw-bg-sc-blue tw-items-center tw-size-10.5 tw-rounded-full tw-flex-shrink-0 hover:tw-opacity-80 tw-transition-all tw-duration-250 tw-touch-manipulation"
                    :class="!item.variants.find(v => v.available) ? '!tw-opacity-50' : ''"
                  >
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_138_1073)">
                      <path d="M2.46529 7.6404L1.55762 15.8071L2.71729 15.9366L3.62496 7.76873L2.46529 7.6404ZM3.29712 17.7507H14.6908V16.5841H3.29712V17.7507ZM16.4303 15.8071L15.5226 7.6404L14.363 7.76873L15.2706 15.9366L16.4303 15.8071ZM13.782 6.08407H4.20596V7.25073H13.7843L13.782 6.08407ZM15.5226 7.6404C15.475 7.21241 15.2712 6.81701 14.9502 6.52987C14.6293 6.24273 14.2126 6.08401 13.782 6.08407L13.7831 7.25073C13.9267 7.25072 14.0653 7.30369 14.1723 7.39948C14.2793 7.49527 14.3472 7.62717 14.363 7.7699L15.5226 7.6404ZM14.6908 17.7507C14.9369 17.7506 15.1802 17.6986 15.4048 17.5981C15.6294 17.4975 15.8303 17.3508 15.9943 17.1674C16.1583 16.9839 16.2819 16.768 16.3568 16.5336C16.4317 16.2992 16.4575 16.0516 16.4303 15.8071L15.2706 15.9366C15.2798 16.0182 15.2717 16.0997 15.2467 16.1779C15.2218 16.2562 15.1806 16.3283 15.1259 16.3895C15.0711 16.4507 15.0041 16.4997 14.9291 16.5332C14.8541 16.5668 14.7729 16.5841 14.6908 16.5841V17.7507ZM1.55762 15.8071C1.53038 16.0517 1.55506 16.2994 1.63006 16.5339C1.70505 16.7683 1.82868 16.9843 1.99285 17.1678C2.15702 17.3512 2.35804 17.498 2.58279 17.5984C2.80754 17.6989 3.05095 17.7508 3.29712 17.7507V16.5841C3.2151 16.5841 3.134 16.5668 3.05912 16.5333C2.98423 16.4999 2.91724 16.451 2.86252 16.3899C2.80781 16.3288 2.76659 16.2568 2.74157 16.1787C2.71654 16.1006 2.70827 16.0181 2.71729 15.9366L1.55762 15.8071ZM3.62496 7.76873C3.64102 7.62621 3.70903 7.4946 3.81599 7.39905C3.92295 7.30349 4.06253 7.25069 4.20596 7.25073V6.08407C3.77552 6.08429 3.3591 6.24315 3.03841 6.53026C2.71772 6.81737 2.51293 7.21261 2.46529 7.6404L3.62496 7.76873ZM6.07729 4.9174V4.33407H4.91063V4.9174H6.07729ZM11.9106 4.33407V4.9174H13.0773V4.33407H11.9106ZM8.99396 1.4174C9.76751 1.4174 10.5094 1.72469 11.0564 2.27167C11.6033 2.81865 11.9106 3.56052 11.9106 4.33407H13.0773C13.0773 3.2511 12.6471 2.21249 11.8813 1.44671C11.1155 0.68094 10.0769 0.250732 8.99396 0.250732V1.4174ZM6.07729 4.33407C6.07729 3.56052 6.38458 2.81865 6.93156 2.27167C7.47855 1.72469 8.22041 1.4174 8.99396 1.4174V0.250732C7.91099 0.250732 6.87238 0.68094 6.10661 1.44671C5.34083 2.21249 4.91063 3.2511 4.91063 4.33407H6.07729Z" fill="white"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_138_1073">
                      <rect width="17.5" height="17.5" fill="white" transform="translate(0.244141 0.250732)"/>
                      </clipPath>
                      </defs>
                    </svg>
                    <span class="tw-sr-only">Add to cart</span>
                  </button>
                </article>
              </div>
            </template>
          </div>
        </div>
      </div>

    {% when 'ONE_COL_LIST' %}
      <div
        x-cloak
        x-show="isLoaded"
        class="tw-hidden lg:tw-flex tw-relative tw-z-20 tw-w-[176px] tw-h-full tw-transition-all tw-duration-250"
        style="box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.25);"
      >
        <div class="tw-flex tw-flex-col tw-overflow-hidden tw-pt-8">
          <h6 class="tw-text-[15px] tw-leading-[17px] tw-text-center tw-font-bold tw-mb-8 tw-px-4.5">
            {{ cross_selling_products_title }}
          </h6>
          {% comment %} Product list {% endcomment %}
          <div class="tw-overflow-y-auto no-scrollbar">
            <ul class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-mx-auto tw-gap-8 tw-flex-shrink-0 tw-flex-nowrap tw-w-25">
              <template x-for="item in productList">
                <li class="tw-flex tw-flex-col">
                  {% comment %} Image {% endcomment %}
                  <a
                    :href="item?.url"
                    aria-busy="false"
                    class="tw-relative tw-flex-shrink-0 tw-flex tw-justify-center tw-items-center tw-overflow-hidden tw-rounded-ra-10 tw-aspect-square tw-size-25 tw-bg-sc-blue/20 tw-border tw-border-sc-blue-20 tw-mb-[3px]"
                  >
                    <img
                      :src="item?.featured_image"
                      :alt="`Image of ${item?.title}`"
                      height="90px"
                      width="90px"
                      class="tw-w-full tw-h-auto tw-object-cover"
                    >
                  </a>

                  {% comment %} Product Content {% endcomment %}
                  <div class="tw-flex tw-flex-col tw-justify-center tw-w-full tw-mb-[11px]">
                    <div class="tw-flex tw-flex-col tw-gap-0.5 tw-max-w-full">
                      {% comment %} Title {% endcomment %}
                      <a
                        :href="item?.url"
                        :title="item?.title"
                        x-text="item?.title"
                        class="!tw-line-clamp-2 tw-font-primary tw-block tw-text-[12px] tw-leading-[17px] tw-font-bold tw-text-black tw-text-center"
                      ></a>

                      {% comment %} Prices {% endcomment %}
                      <div class="tw-flex tw-justify-center tw-items-baseline tw-gap-0.5 tw-shrink-0">
                        <template x-if="item?.price">
                          <strong
                            class="tw-text-[13px] tw-leading-[17px] tw-text-black tw-text-center"
                            x-text="window.formatMoney(item?.price)"
                          ></strong>
                        </template>
                        <template x-if="item?.compare_at_price > item?.price">
                          <s
                            class="tw-text-sc-gray-primary tw-font-medium tw-text-[11px] tw-leading-[16px]tw-line-through tw-text-center"
                            x-text="window.formatMoney(item?.compare_at_price)"
                          ></s>
                        </template>
                      </div>
                    </div>
                  </div>

                  {% comment %} Add to cart {% endcomment %}
                  <button
                    type="button"
                    @click="$store.cart.addToCart([{ id: item.variants.find(v => v.available)?.id, quantity: 1 }])"
                    aria-label="Remove product from cart"
                    class="tw-uppercase tw-bg-sc-blue tw-text-white tw-rounded-full tw-flex tw-justify-center tw-items-center tw-text-center tw-w-full !tw-h-7 !tw-text-[11px] tw-leading-none !tw-font-semibold tw-transition-all tw-duration-200 hover:tw-opacity-90 tw-touch-manipulation"
                    :class="!item.variants.find(v => v.available) ? '!tw-opacity-50' : ''"
                  >
                    Add to bag
                  </button>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </div>
  {% endcase %}
</div>
