<header style="background: #000; display: flex; justify-content: center; align-items: center; height: 80px;">'
  {%- if section.setting.checkbox == true -%}
      <div class="vip-bg-left"></div>
      <div class="vip-bg-right"></div>
  {% endif %}
    <a href="{{ section.settings.logo_link }}">
      <img src="{{ section.settings.logo | image_url: width:192, height:36 }}" width="192px" height="36px" alt="Logo">
    </a>
</header>

{% schema %}
{
  "name": "Landing Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "url",
      "id": "logo_link",
      "label": "Logo Link",
      "default": "/"
    },
    {
      "type": "checkbox",
      "id": "vip-header",
      "label": "VIP Header Style",
      "default": false
    }
  ],
    "presets": [
    {
      "name": "Landing Header"
    }
  ]
}
{% endschema %}