<header style=
  "{% if section.settings.vip-header == true %}position: relative;background: radial-gradient(circle at center, #0f0f0f 40%, #000 100%); overflow: hidden;
  {% else %}background: #000;{% endif %}display: flex; justify-content: center; align-items: center; height: 80px;">

  {% if section.settings.vip-header == true %}
    <div class="vip-bg-left"></div>
    <div class="vip-bg-right"></div>
  {% endif %}

  <a href="{{ section.settings.logo_link }}">
    <img src="{{ section.settings.logo | image_url: width:192, height:36 }}" width="192px" height="36px" alt="Logo">
  </a>
</header>

<style>
  /* Soft glowing yellow sides */
  .vip-bg-left,
  .vip-bg-right {
    position: absolute;
    top: 0;
    width: %;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  .vip-bg-left {
    left: 0;
    background: radial-gradient(circle at left center, rgba(230, 184, 92, 0.2), transparent 70%);
  }

  .vip-bg-right {
    right: 0;
    background: radial-gradient(circle at right center, rgba(230, 184, 92, 0.2), transparent 70%);
  }
</style>

{% schema %}
{
  "name": "Landing Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "url",
      "id": "logo_link",
      "label": "Logo Link",
      "default": "/"
    },
    {
      "type": "checkbox",
      "id": "vip-header",
      "label": "VIP Header Style",
      "default": false
    }
  ],
    "presets": [
    {
      "name": "Landing Header"
    }
  ]
}
{% endschema %}