.landing-hero {
  background-color: #131313;
  color: #fff;
  padding: 80px 20px 150px 20px;
}
.landing-hero .container {
  max-width: 80%;
  margin: 0 auto;
}
.landing-hero .heading1 {
  font-family: Inter, sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 160%;
  color: #FAC848;
}
.landing-hero .heading2 {
  font-family: Libre Baskerville, serif;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
}
.landing-hero .heading-highlight {
  font-family: Libre Baskerville, serif;
  font-weight: 400;
  font-size: 48px;
  font-style: italic;
  color: #FAC848;
  line-height: normal;
}
.hightlight-container {
  display: flex;
  align-items: center;
  gap: 25px;
}
.tooltip-heading {
  padding: 5px 20px;
  background-color: #FAC84842;
  border-radius: 50px;
}
.landing-hero .description {
  font-family: Inter, sans-serif;
  font-size: 20px;
  margin: 30px 10px;
  font-weight: 500;
}
.btn-primary {
  padding: 10px 20px;
  background: #fff;
  color: #000;
  border-radius: 50px;
  font-weight: semi-bold;
  font-family: Inter, sans-serif;
}
.cta-input {
  font-family: Inter, sans-serif;
  text-align: center;
  padding: 10px 20px;
  width: 13%;
  color: #fff;
}
.hero-image-container {
  display: flex;
  justify-content: center;
  background: #232440;
  height: 350px;
}
.hero-image {
  object-fit: cover;
  position: absolute;
  top: 20%;
}
.bundle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-form {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .landing-hero {
    padding: 50px 0;
  }
  .landing-hero .heading1 {
    font-size: 35px;
  }
  .landing-hero .heading2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
  }
  .landing-hero .heading-highlight {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }
  .tooltip-heading {
    text-align: center;
  }
  .hero-image-container {
    height: 250px;
  }
  .landing-hero .description {
    font-size: 18px;
  }
  .hero-image {
    position: relative;
    top: 0;
  }
  .hightlight-container {
    display: block;
  }
  .cta-form {
    display: block;
  }
  .cta-input {
    width: 100%;
    margin: 10px 0;
  }
  .submit {
    width: 100%;
    margin: 10px 0;
  }
}

/* Landing Life Control */
.life-control-bundle {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.life-control-bundle .container {
  max-width: 85%;
  margin: 0 auto;
}

.bundle-subheading {
  color: #ffc845;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.bundle-heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Libre Baskerville, serif;
  color: #fff;
}

.bundle-description {
  font-size: 48px;
  font-weight: 700;
  font-family: Libre Baskerville, serif;
  font-style: italic;
  margin-bottom: 50px;
  color: #fff;
}

.bundle-products-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 80px;
}

.bundle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

.bundle-item img {
  margin-bottom: 15px;
  border-radius: 14px;
}

.bundle-item h3 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #ffc845;
}

.bundle-item p {
  font-size: 18px;
  color: #E3E3E3;
  line-height: 1.4;
  max-width: 250px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .bundle-heading {
    font-size: 26px;
  }
  .bundle-description {
    font-size: 17px;
  }
}

/* Why bundle section */
.why-bundle-section {
  width: 100%;
}

.why-bundle-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.why-bundle-inner .image {
  flex: 0 0 40%;
  max-width: 40%;
  box-sizing: border-box;
}

.why-bundle-inner .content {
  flex: 0 0 60%;
  max-width: 60%;
  box-sizing: border-box;
  padding: 0 10%;
}

.why-bundle-inner .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.btn-secondary {
  border: solid 1px #fff;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 20px;
}

.why-bundle-inner .image,
.why-bundle-inner .content {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .why-bundle-inner {
    flex-direction: column;
  }

  .why-bundle-inner .image,
  .why-bundle-inner .content {
    max-width: 100%;
    flex: 1 1 100%;
  }
}
.why-bundle-section .subtitle {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 8px;
  color: #FAC848;
}
.why-bundle-section .title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.why-bundle-section .description {
  line-height: 1.6;
  font-size: 1rem;
}
.why-bundle-section ul {
  list-style: disc;
  margin: 0;
  padding-left: 20px;
}
.why-bundle-section li {
  margin-bottom: 6px;
  font-size: 20px;
}

.why-bundle-section.alt {
  flex-direction: row-reverse;
}
.why-bundle-section.alt .title span {
  color: var(--accent-color);
}
@media (max-width: 768px) {
  .why-bundle-section,
  .why-bundle-section.alt {
    flex-direction: column;
    text-align: center;
  }
  .content  {
    padding: 20px;
  }
  .why-bundle-section .title {
    font-size: 28px;
    line-height: 35px;
  }
}