.landing-hero {
  background-color: #131313;
  color: #fff;
  padding: 80px 20px 150px 20px;
}
.landing-hero .container {
  max-width: 80%;
  margin: 0 auto;
}
.landing-hero .heading1 {
  font-family: Inter, sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 160%;
  color: #FAC848;
}
.landing-hero .heading2 {
  font-family: Libre Baskerville, serif;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
}
.landing-hero .heading-highlight {
  font-family: Libre Baskerville, serif;
  font-weight: 400;
  font-size: 48px;
  font-style: italic;
  color: #FAC848;
  line-height: normal;
}
.hightlight-container {
  display: flex;
  align-items: center;
  gap: 25px;
}
.tooltip-heading {
  padding: 5px 20px;
  background-color: #FAC84842;
  border-radius: 50px;
}
.landing-hero .description {
  font-family: Inter, sans-serif;
  font-size: 20px;
  margin: 30px 0;
  font-weight: 500;
}

.description-image-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 40px 0;
}

.description {
  display: inline;
  font-size: 1.2rem;
  line-height: 1.4;
}

/* The image stays absolutely placed near the end of the text */
.overflow-image {
  position: absolute;
  top: 303%;
  transform: translateY(-50%);
  right: -225px;
  width: 300px;
  height: auto;
  max-width: none;
  z-index: 2;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .overflow-image {
    right: -120px;
    width: auto;
    top: 120px;
  }
}

@media (max-width: 992px) {
  .overflow-image {
    position: static;
    display: block;
    margin: 1rem auto 0;
    transform: none;
    width: auto;
  }
}

@media (max-width: 576px) {
  .overflow-image {
    width: auto;
  }
}


/* klaviyo Styling*/
.klaviyo-form-URKe4P.klaviyo-form.form-version-cid-1 {
    position: relative;
    z-index: 10000;
}
.klaviyo-form-URKe4P span {
  font-size: 14px !important;
  font-family: Inter, sans-serif !important;
  text-align: start !important;
}
.klaviyo-form-URKe4P h1 {
  text-align: start !important;
}
.klaviyo-container .klaviyo-form-URKe4P h1 {
  text-align: center !important;
}
.needsclick.go300628013.kl-private-reset-css-Xuajs1 {
  width: 300px;
  border-radius: 50px !important;
  color: #1e1e1e !important;
  font-size: 18px !important;
  font-family: Inter, sans-serif !important;
}
.needsclick.kl-private-reset-css-Xuajs1 input {
  width: 315px !important;
  border-radius: 50px !important;
  height: 53px !important;
  background-color: transparent !important;
  color: #fff !important;
  border-color: #fff !important;
}
.needsclick.kl-private-reset-css-Xuajs1 input::placeholder {
  color: #fff !important;
}
.go2544359273.go2544359273.go2544359273:hover {
  border-color: #fff !important;
}
.needsclick.kl-private-reset-css-Xuajs1 {
  display: block !important;
  position: relative;
  width: 300px;
}
.go3176171171 {
  color: #fff !important;
  font-family: Inter, sans-serif !important;
  font-size: 20px !important;
}
.hero-image-container {
  display: flex;
  justify-content: center;
  background: #232440;
  height: 350px;
}
.hero-image {
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
.bundle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
}

/* Landing Life Control */
.life-control-bundle {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.life-control-bundle .container {
  max-width: 85%;
  margin: 0 auto;
}

.bundle-subheading {
  color: #ffc845;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.bundle-heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Libre Baskerville, serif;
  color: #fff;
}

.bundle-description {
  font-size: 48px;
  font-weight: 700;
  font-family: Libre Baskerville, serif;
  font-style: italic;
  margin-bottom: 50px;
  color: #fff;
}

.bundle-products-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 80px;
}

.bundle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bundle-item img {
  margin-bottom: 15px;
  border-radius: 14px;
}

.bundle-item h3 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #ffc845;
}

.bundle-item p {
  font-size: 18px;
  color: #E3E3E3;
  line-height: 1.4;
  max-width: 250px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .bundle-heading {
    font-size: 26px;
  }
  .bundle-description {
    font-size: 34px;
  }
}

/* Why bundle section */
.why-bundle-section {
  width: 100%;
}

.why-bundle-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.why-bundle-inner .image {
  flex: 0 0 40%;
  max-width: 40%;
  box-sizing: border-box;
}

.why-bundle-inner .content {
  flex: 0 0 60%;
  max-width: 60%;
  box-sizing: border-box;
  padding: 10%;
}

.why-bundle-inner .image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.content-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.btn-secondary {
  border: solid 1px #fff;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 18px;
}

.btn-secondary:hover {
  border: solid 1px #fff;
  color: #1e1e1e;
  background-color: #FAC848;
  border: solid 1px #FAC848;
}

.why-bundle-inner .image,
.why-bundle-inner .content {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .why-bundle-inner {
    flex-direction: column;
  }
  .bundle-products-grid {
    gap: 60px;
  }


  .why-bundle-inner .image,
  .why-bundle-inner .content {
    max-width: 100%;
    flex: 1 1 100%;
  }
}
.why-bundle-section .subtitle {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 8px;
  color: #FAC848;
}
.why-bundle-section .title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.why-bundle-section .description {
  line-height: 1.6;
  font-size: 1rem;
}
.why-bundle-section ul {
  list-style: disc;
  margin: 0;
  padding-left: 20px;
}
.why-bundle-section li {
  margin-bottom: 6px;
  font-size: 20px;
}

.why-bundle-section.alt {
  flex-direction: row-reverse;
}
.why-bundle-section.alt .title span {
  color: var(--accent-color);
}
@media (max-width: 768px) {
  .why-bundle-section,
  .why-bundle-section.alt {
    flex-direction: column;
    text-align: center;
  }
  .content  {
    padding: 20px;
  }
  .why-bundle-section .title {
    font-size: 28px;
    line-height: 35px;
  }
}

.landing-entry__eyebrow,
.landing-entry__subheading,
.landing-faq__question {
  font-size: 20px;
}

.landing-entry__yellow_heading {
  font-size: 36px;
  font-weight: 600;
  color: #FAC848;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
  font-family: Libre Baskerville, serif;
}

.landing-entry__eyebrow,
.landing-entry__subheading,
.landing-faq__question,
.landing-entry__number,
.landing-entry__text,
.landing-entry__button,
.landing-faq__answer {
  line-height: 160%;
  letter-spacing: 0.01em;
}

.landing-entry__eyebrow,
.landing-entry__number,
.landing-entry__text,
.landing-entry__button,
.landing-entry__subheading,
.landing-faq__answer p,
.landing-footer {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.landing-entry__countdown-number,
.landing-two-column-slider__wrapper {
  font-family: 'Libre Baskerville', Georgia, serif !important;
}


/* Entry Section */
.landing-entry {
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.cta-form-entry {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.landing-entry {
  background-color: #1a1a1a;
}

.landing-entry__eyebrow {
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #FAC848;
}

.landing-entry__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.01em;
}

.landing-entry__heading i,
.landing-two-column-slider__heading i {
  font-weight: 400;
}

.landing-entry__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin: 40px auto;
  max-width: 70%;
}

.klaviyo-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


.landing-entry__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-entry__number {
  background: #FAC848;
}

.landing-entry__number {
  width: 56px;
  height: 56px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #404040;
}

.landing-entry__text {
  font-size: 24px;
  font-weight: 700;
  max-width: 249px;
}

.landing-entry__button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 108px;
  font-weight: 600;
  font-size: 18px;
  transition: background-color .3s ease;
  text-transform: none;
  border: 1px solid #fff;
}

.landing-entry__button:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #0e0e0e;
}

.landing-entry__countdown {
  text-align: center;
}

.landing-entry__countdown-number {
  display: inline-block;
  font-size: 68px;
  font-weight: 700;
  background: #FAC848;
  color: #2D3C61;
  width: 101px;
  height: 96px;
  border-radius: 22px;
  margin-bottom: 18px;
  box-shadow: 0px 12px 22.4px rgba(0, 0, 0, 0.93);
}

.landing-entry__subheading {
  color: #fff;
  max-width: 388px;
  margin: 0 auto;
}

/* Landing Two Column Section */
.landing-two-column-slider {
  padding: 100px 0 100px 100px;
  overflow: hidden;
  color: #fff;
  background: #232440;
  position: relative;
}

.landing-two-column-slider__heading i {
  color: #FAC848;
}

.landing-two-column-slider__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  margin: 0 auto;
}

/* Left Column - Content */
.landing-two-column-slider__content {
  padding-right: 40px;
}

.landing-two-column-slider__heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.01em;
}

/* Right Column - Slider */
.landing-two-column-slider__slider-container {
  position: relative;
  overflow: visible;
  padding-right: 0;
}

.landing-two-column-slider__wrapper {
  position: relative;
}

.landing-two-column-slider__slider {
  position: relative;
  overflow: visible;
  min-height: 589px;
  width: 100%;
}

.landing-two-column-slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 589px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  opacity: 1;
  transform: translateX(85%);
}

.landing-two-column-slider__slide.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 3;
  width: calc(80% - 25px);
}

.landing-two-column-slider__slide.next {
  opacity: 0.6;
  transform: translateX(calc(80% + 25px));
  z-index: 2;
  width: calc(80% - 25px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.landing-two-column-slider__slide.next .landing-two-column-slider__slide-inner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.landing-two-column-slider__slide.prev {
  opacity: 0;
  transform: translateX(-100%);
  z-index: 1;
}

.landing-two-column-slider__slide-inner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 589px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 12px;
  overflow: hidden;
}

.landing-two-column-slider__slide-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.landing-two-column-slider__slide-inner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, #000000 100%);
  z-index: 2;
}

.landing-two-column-slider__slide-content {
  position: relative;
  z-index: 3;
  padding: 56px 36px;
  min-height: 589px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity 0.3s ease;
  color: #fff;
  gap: 34px;
}

.landing-two-column-slider__slide-title {
  line-height: 140%;
  letter-spacing: .01em;
  font-size: 24px;
}

.landing-two-column-slider__slide-text {
  font-size: 36px;
  line-height: 140%;
  letter-spacing: .01em;
  margin-bottom: 0;
}

.landing-two-column-slider__slide-text::before {
  content: open-quote;
}

.landing-two-column-slider__slide-text::after {
  content: close-quote;
}

.faq-overlay {
  position: absolute;
  right: 0;
  top: 0;
  width: 126px;
  height: 100%;
  z-index: 4;
  pointer-events: none;
}

.faq-overlay:before {
  content: " ";
  background: linear-gradient(270deg, #232440 0%, rgba(35, 36, 64, 0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
  transition: opacity 0.6s ease;
}

/* FAQ Section */
.landing-faq {
  padding: 100px;
  overflow: hidden;
  color: #fff;
  background: #2D3C61;
}

.landing-two-column-slider__wrapper.faq {
  align-items: flex-start;
}

.landing-faq__content {
  max-width: 100%;
}

.landing-faq__item {
  padding: 16px 0;
  border-bottom: 1px solid #636363;
}

.landing-faq__item:last-child {
  border-bottom: none;
}

.landing-faq__question {
  font-weight: 700;
  color: #FAC848;
  margin-bottom: 8px;
}

.landing-faq__answer {
  font-size: 18px;
  color: #E3E3E3;
}

.landing-faq__answer p {
  margin: 0;
}

/* Footer Section */
.landing-footer {
  background-color: #131313;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}

.landing-footer__wrapper {
  max-width: 297px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.landing-footer__logo img {
  max-height: 40px;
  width: auto;
}

.landing-footer__copyright {
  font-size: 12px;
  color: #fff;
  line-height: 100%;
  letter-spacing: 0;
}

.landing-footer__links {
  font-size: 12px;
  line-height: 1.4;
}

.landing-footer__links a {
  color: #fff;
  text-decoration: none !important;
  transition: color 0.3s ease;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  background: none;
}

.landing-footer__links a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .landing-two-column-slider__heading {
    font-size: 36px;
  }

  .bundle-products-grid {
    gap: 100px;
  }


  .landing-two-column-slider__slide-text {
    font-size: 22px;
    line-height: 153%;
  }

  .landing-two-column-slider__slide-title {
    font-size: 18px;
  }

  .landing-two-column-slider {
    padding: 80px 0 80px 50px;
  }

  .landing-two-column-slider__slide-content,
  .landing-two-column-slider__slide-inner,
  .landing-two-column-slider__slide,
  .landing-two-column-slider__slider {
    min-height: 489px;
  }
}

@media (max-width: 849px) {
  .landing-entry__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .landing-entry__text br {
    display: none;
  }

  .landing-entry__text {
    max-width: 100%;
  }

  .landing-entry__number {
    margin-bottom: 10px;
  }

  .landing-entry__button,
  .landing-entry__text {
    font-size: 20px;
  }

  .landing-entry__button-wrapper {
    margin-top: 43px;
  }

  .landing-entry__button {
    padding: 10px 25px;
  }

}

@media (max-width: 768px) {
  .landing-entry {
    padding-block: 40px;
  }

  .landing-entry__heading {
    font-size: 28px;
    line-height: 37px;
  }

  .landing-two-column-slider__navigation {
    right: -50px;
  }

  .landing-two-column-slider__nav-arrow {
    width: 35px;
    height: 35px;
  }

  .landing-two-column-slider {
    padding: 60px 0;
  }

  .landing-two-column-slider__wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .landing-two-column-slider__content {
    padding-right: 0;
    text-align: center;
  }

  .landing-two-column-slider__heading {
    font-size: 22px;
    line-height: 33px;
    padding-inline: 20px;
  }

  .landing-two-column-slider__slider-container {
    height: 400px;
    padding-left: 20px;
  }

  .landing-two-column-slider__navigation {
    right: -30px;
  }

  .landing-faq__item {
    padding: 20px 0;
  }

  .landing-faq__question {
    font-size: 18px;
  }

  .landing-faq__answer {
    font-size: 15px;
  }

  .landing-footer {
    padding: 40px 20px;
  }

  .landing-footer__wrapper {
    gap: 12px;
  }

  .landing-footer__links {
    font-size: 11px;
  }

  .landing-entry__countdown-number {
    font-size: 48px;
    width: 66px;
    height: 66px;
    border-radius: 14px;
  }

  .landing-faq {
    padding: 40px 20px;
  }

  .landing-two-column-slider__slide,
  .landing-two-column-slider__slide-inner {
    min-height: 400px;
  }

  .landing-two-column-slider__slide-content {
    min-height: 400px;
    padding: 25px;
  }

  .landing-two-column-slider__slide.active,
  .landing-two-column-slider__slide.next {
    width: calc(85% - 25px);
  }

  .landing-two-column-slider__slide.next {
    transform: translateX(calc(85% + 25px));
  }

  .landing-two-column-slider__slide-text {
    font-size: 20px;
  }
}

/* Banner Responsive */
@media (min-width: 501px) and (max-width: 1238px) {
 .hero-image {
      position: relative;
      top:6%;
  }
  .hightlight-container {
    display: block;
  }
  .tooltip-heading {
    margin-top: 20px;
    width: fit-content;
  }
  .landing-hero .heading-highlight,
  .landing-hero .heading2,
  .bundle-heading {
    font-size: 36px;
    line-height: 50px;
  }
  .bundle-description {
    font-size: 34px;
    line-height: 50px;
  }
  .hero-image-container {
    height: 480px;
  }
}

@media (max-width: 500px) {
  .landing-hero {
    padding: 50px 0;
  }
  .landing-hero .heading1 {
    font-size: 35px;
  }
  .landing-hero .heading2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
  }
  .landing-hero .heading-highlight {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }
  .tooltip-heading {
    text-align: center;
    width: fit-content;
  }
  .hero-image-container {
    height: 250px;
  }
  .landing-hero .description {
    font-size: 18px;
  }
  .hero-image {
    position: relative;
    top: 0;
  }
  .hightlight-container {
    display: block;
  }
  .landing-entry__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}